body, html{
    background-color: white;
    margin : 0;
    padding : 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/*NAVEGACION*/

header{
    width: 100%;
    height: 60px;
}

header nav{
    /* Justificar a la derecha */
    /*habilita flex-end, flex-start*/
    display: flex;
    justify-content: flex-end;
}

header nav .nav-rigth-section{
    width: 220px;
    height: auto;
    /*Eliminar puntos*/
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center ;
}

a {
    text-decoration: none;
}

nav .nav-rigth-section a{
    color: black;
    margin-right: 20px; 
}


nav .nav-rigth-section .Menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    /* Que la imagen esté contenida en el elemento más grande */
    background-size: contain;
    width: 20px;
    height: 20px;
    /* Para que las imágenes no se repitan */
    background-repeat: no-repeat;
}

nav .nav-rigth-section img{
    border-radius: 30px; 
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;

}

main {
    /*Agregar espacio entre header y main*/
    margin-top: 175px; 
    text-align: center;
}

main .main-logo{
    /*Margen absoluto*/
    margin: 0 auto; 
}

main .main-logo img{
    height: 95px;
    margin-bottom: 30px;
}

main .main-input{ 
    width: 530px;
    /*Margen absoluto*/
    margin: 0 auto; 
}

main .main-input-container{
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    width: 525px;
}

main .main-input input{
    border: none;
    height: 40px;
    /*Cuando este activo el input quitar el borde*/
    outline: none;
    width: 410px;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    padding-left: 14px;
    padding-right: 10px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    background-size: contain;
    padding-left: 25px;
    background-repeat: no-repeat;
    text-align: center;
    margin-right:3px;
    width: 22px;
    height: 22px;

}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-size: contain;
    padding-left: 16px;
    background-repeat: no-repeat;
    margin-right: 14px;
    width: 22px;
    height: 22px;
}

main .main-botones{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
main .main-botones .boton-buscar button {
    color: #202124c8;;
    border: 0px solid #dadce0;
    height: 30px;
    width: 140px;
    font-size: 14px;
    border-radius: 2px;
    margin-right: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    cursor: pointer;
}
main .main-botones .boton-suerte {
    color: #202124c8;
    border: 0px solid #dadce0;
    height: 30px;
    width: 140px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #f8f9fa;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    cursor: pointer;   
}
main .main-botones .boton-suerte a{
    color: #202124c8;
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 95;
    background-color: #f2f2f2; 
    flex-direction: row; 
 
}

footer .Mexico{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #202124;
    display: flex;
    height: 25px;
    align-content: center;

}

footer nav{
    margin: 0; 
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    word-wrap: break-word; 

}

footer nav .nav-foot-left{
    height: 50px;
    /*Eliminar puntos*/
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    word-wrap: break-word; 
    display: flex;
}

footer nav .nav-foot-right{
    justify-content: space-between;
    list-style: none;
    display:flex;
    align-items: center;
    height: 50px;
    word-wrap: break-word; 
    display: flex;
    margin: 0;

}

nav .nav-foot-left a{
    color: #202124;
    margin-right: 25px; 
    font-size: 14px;
}

nav .nav-foot-right a{
    color: #202124;
    margin-right: 25px; 
    font-size: 14px;
}

